.background {
  min-height: 100vh;

  background-image:
    linear-gradient(rgba(15, 15, 25, 0.02), rgba(15, 15, 25, 0.03)),
    url("/background.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 0;

  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1400px;

  position: relative;

  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
